<header>
    <nav id="navbar">
        <a href="principal">
            <img src="/img/logoSaber.png" alt="logo Saber em Sena" height='60px'>
        </a>

        <ul>
            <li><a href="configuracao">Config Posts</a></li>
            <li><a href="addPost">Novo Post</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
</header>

{{#if error}}
<div class="error-container">
    <h2>{{error}}</h2>
    <ul>
        {{#each validationErrors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}

{{#if sucessMessage}}
<div class="success-container">
    <h2>{{sucessMessage}}</h2>
</div>
{{/if}}

<div class="container">
    <form action="/SecretPages/add" id="formPost" method="post" enctype="multipart/form-data">
        <div id="titulo">
            <label id="title">
                Titulo (máximo de 50 caracters*)
            </label>
            <textarea name="title" id="title" placeholder="Digite o titulo" maxlength="50"></textarea>
            <p class="msg" id="t"></p>
        </div>

        <div id="sub">
            <label id="subtitle">
                Subtitulo (máximo de 60 caracters*)
            </label>
            <textarea name="subtitle" id="subt" placeholder="Digite o subtitulo" maxlength="60"></textarea>
            <p class="msg" id="s"></p>
        </div>

        <div id="camposAdicionais">

        </div>

        <div>
            <select id="opcaoInput">
                <option value="textarea">Texto</option>
                <option value="file">Imagem</option>
            </select>
            <button type="button" class="add">Adicionar</button>
        </div>

        <input type="hidden" name="order" value="" id="order">

        <button type="button" id="preview">Preview da página</button>

        <button type="submit" id="enviar">Enviar</button>
    </form>
</div>

<script>
    const camposAdicionais = document.querySelector('div#camposAdicionais');
    const addBtn = document.querySelector('button.add');
    const select = document.querySelector('select#opcaoInput')
    const btnPreview = document.querySelector('button#preview');
    const title = document.querySelector('textarea#title');
    const subt = document.querySelector('textarea#subt');
    const msgt = document.querySelector('p#t');
    const msgs = document.querySelector('p#s');
    const enviar = document.querySelector('button#enviar');
    const order = document.querySelector('input#order');

    const verification = () => {
        let alerta = false;
        let error = false;
        let imagem = false;

        if (!title.value) {
            msgt.innerHTML = 'O título é obrigatório.';
            error = true;
        } else if (title.value.length > 50) {
            msgt.innerHTML = 'O título deve ter no máximo 50 caracteres.';
            error = true;
        }

        if (!subt.value) {
            msgs.innerHTML = 'O subtitulo é obrigatório';
            error = true;
        } else if (subt.value.length > 60) {
            msgs.innerHTML = 'O subtitulo deverá ter no máximo 60 caracteres';
            error = true;
        }

        const campos = document.querySelectorAll('.campoAdd');

        if (campos.length < 3) {
            alert('Atenção! Deve ter pelo menos 2 paragrafos e uma imagem');
        } else {
            campos.forEach((campo) => {
                const verificacaoTextarea = Array.from(campo.childNodes).some((node) => {
                    return node.nodeName === 'TEXTAREA';
                });

                const i = campo.querySelector('input');
                console.log(i.files.length);
                if (i.files.length === 0) {
                    imagem = true;
                }

                if (verificacaoTextarea) {
                    const textareas = campo.querySelectorAll('textarea');
                    if (!textareas.length < 2) {
                        textareas.forEach((content) => {
                            if (!content.value.trim()) {
                                alerta = true;
                            }
                        })
                    } else {
                        alerta = true;
                    }
                }
            })
        }

        if (alerta) {
            alert('Preencha o paragrafo!!');
        }

        if (error) {
            alert('Atenção!');
        }

        if (imagem) {
            alert('Coloque pelo menos uma imagem!');
        }

        return !(alerta || error || imagem);
    }

    function send(e) {
        if (!verification()) {
            e.preventDefault();
        }
    }

    function preview(event) {
        const fileInput = event.target;
        const files = fileInput.files;
        const msg = document.querySelector('p.msgSize');

        if (files.length > 0) {
            const file = files[0];

            const maxSize = 90 * 1024;

            if (file.type.startsWith('image/') && file.size <= maxSize) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const imagePreview = fileInput.closest('.campoAdd').querySelector('.preview');
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                    msg.style.color = 'black'
                };
                reader.readAsDataURL(file);
            } else {
                if (!file.type.startsWith('image/')) {
                    alert('Por favor, selecione um arquivo de imagem válido.');
                } else {

                    msg.style.color = 'red';
                }

                fileInput.value = '';
            }
        }
    }

    async function readImage(file) {
        return new Promise((resolve) => {
            const reader = new FileReader();
            reader.onload = function (e) {
                resolve(e.target.result);
            };
            reader.readAsDataURL(file);
        });
    }

    function addFild(value) {

        const campoId = value == 'textarea' ? 't' + Date.now() : 'i' + Date.now();

        if (value === 'textarea') {
            const div = document.createElement('div');
            div.className = 'campoAdd';

            const label = document.createElement('label');
            label.textContent = 'Adicione um texto (máximo de 250 caracters*)';
            div.appendChild(label);

            const textarea = document.createElement('textarea');
            textarea.placeholder = 'Digite um texto';
            textarea.name = 'content';

            order.value += campoId + ',';
            div.appendChild(textarea);

            const p = document.createElement('p');
            p.className = 'msg';
            div.appendChild(p);

            const deleteButton = document.createElement('button');
            deleteButton.type = 'button';
            deleteButton.id = 'deleteCampo';
            deleteButton.textContent = 'Deletar campo';
            deleteButton.addEventListener('click', () => {
                order.value = order.value.replace(campoId + ',', '');
                div.remove();
            });
            div.appendChild(deleteButton);

            camposAdicionais.appendChild(div);

            textarea.maxLength = 250;

            textarea.addEventListener('input', () => {
                const resto = 250 - textarea.value.length;
                if (resto <= 30) {
                    p.innerText = 'Restam ' + resto;
                    if (resto == 0) {
                        p.innerHTML = 'Esgotou o limite'
                    }
                } else {
                    p.innerHTML = '';
                }
            })
        } else {
            const div = document.createElement('div');
            div.className = 'campoAdd';

            const label = document.createElement('label');
            label.textContent = 'Adicione uma imagem';
            div.appendChild(label);

            const img = document.createElement('img');
            img.src = '/img/preview.png';
            img.className = 'preview';

            const divImg = document.createElement('div');
            divImg.className = 'contentPreview';
            divImg.appendChild(img);

            const input = document.createElement('input');
            input.type = 'file';
            input.name = 'image';

            order.value += campoId + ',';

            div.appendChild(divImg);
            div.appendChild(input);

            const msg = document.createElement('p');
            msg.innerHTML = 'Tamanho máximo 90kb*';
            msg.className = 'msgSize';
            div.appendChild(msg);

            const deleteButton = document.createElement('button');
            deleteButton.type = 'button';
            deleteButton.id = 'deleteCampo';
            deleteButton.textContent = 'Deletar campo';
            deleteButton.addEventListener('click', () => {
                order.value = order.value.replace(campoId + ',', '');
                div.remove();
            });
            div.appendChild(deleteButton);
            camposAdicionais.appendChild(div);

            input.addEventListener('change', preview);
        }
    }

    addBtn.addEventListener('click', () => {
        const value = select.value;
        addFild(value)
    });

    btnPreview.addEventListener('click', async () => {
        const form = document.querySelector('form#formPost');
        const formData = new FormData(form);
        let previewContent = `
        <div style="max-width: 600px; margin: 0 auto; padding: 20px; font-family: Roboto, sans-serif">
    `;

        for (const [key, value] of formData.entries()) {
            if (key === 'title') {
                previewContent += `<h1 id='title'>${value}</h1>`;
            } else if (key === 'subtitle') {
                previewContent += `<h2 id='subtitle'>${value}</h2>`;
            } else if (key === 'textContent') {
                previewContent += `<p class='conteudo'>${value}</p>`;
            } else if (key === 'image' && value instanceof File) {
                const imgSrc = await readImage(value);
                previewContent += `<img src="${imgSrc}" alt="Imagem" class='preview'/>`;
            }
        }

        previewContent += '</div>';

        // Abrindo a visualização simulada em uma nova guia/janela
        const previewWindow = window.open('', '_blank');
        previewWindow.document.write(`
        <!DOCTYPE html>
        <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Visualização Simulada</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
            <style>
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                body {
                    font-family: 'Roboto', sans-serif;
                }
                #container {
                    max-width: 600px;
                    margin: 20px auto;
                }
                h1 {
                    color: #333;
                    margin-bottom: 10px;
                }
                h2 {
                    color: #555;
                    margin-bottom: 20px;
                }
                .conteudo {
                    line-height: 1.6;
                }
                .preview {
                    max-width: 100%;
                    margin-bottom: 20px;
                }
            </style>
        </head>
        <body>
            <div id='container'>
                <h1>Pré-Visualização</h1>
                ${previewContent}
            </div>
        </body>
        </html>
    `);
    });

    title.addEventListener('input', () => {
        const resto = 50 - title.value.length;


        if (resto <= 10) {
            if (resto == 0) {
                msgt.innerHTML = 'Limite de Caracter esgotado';
            } else {
                msgt.innerHTML = 'Faltam apenas ' + resto + ' caracter';
            }

        } else {
            msgt.innerHTML = '';
        }
    })

    subt.addEventListener('input', () => {
        const resto = 60 - subt.value.length;

        if (resto <= 10) {
            if (resto == 0) {
                msgs.innerHTML = 'Limite de caracter esgotado';
            } else {
                msgs.innerHTML = 'Faltam apenas ' + resto + ' caracter';
            }
        } else {
            msgs.innerHTML = '';
        }
    });

    enviar.addEventListener('click', send);
</script>