<header>
    <nav id="navbar">
        <a href="principal">
            <img src="/img/logoSaber.png" alt="logo Saber em Sena" height='60px'>
        </a>

        <ul>
            <li><a href="configuracao">Config Posts</a></li>
            <li><a href="addPost">Novo Post</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
</header>

{{#if error}}
<div class="error-container">
    <h2>{{error}}</h2>
    <ul>
        {{#each validationErrors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}

{{#if sucessMessage}}
<div class="success-container">
    <h2>{{sucessMessage}}</h2>
</div>
{{/if}}

<div class="container">
    <form action="/SecretPages/add" id="formPost" method="post" enctype="multipart/form-data">
        <div id="titulo">
            <label id="title">
                Titulo (máximo de 50 caracters*)
            </label>
            <textarea name="title" id="title" placeholder="Digite o titulo" maxlength="50"></textarea>
            <p class="msg" id="t"></p>
        </div>

        <div id="sub">
            <label id="subtitle">
                Subtitulo (máximo de 60 caracters*)
            </label>
            <textarea name="subtitle" id="subt" placeholder="Digite o subtitulo" maxlength="60"></textarea>
            <p class="msg" id="s"></p>
        </div>

        <div id="camposAdicionais">

        </div>

        <div>
            <select id="opcaoInput">
                <option value="textarea">Texto</option>
                <option value="file">Imagem</option>
            </select>
            <button type="button" class="add">Adicionar</button>
        </div>

        <input type="hidden" name="order" value="" id="order">

        <button type="button" id="preview">Preview da página</button>

        <button type="submit" id="enviar">Enviar</button>
    </form>
</div>