<nav id="navbar">
    <a href="/">
        <img src="" alt="logo Saber em Sena">
    </a>

    <ul>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
</nav>