<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saber em Sena</title>
</head>

<body>
    {{>_navbar}}

    {{{body}}}

    <script src="/js/script.js" defer></script>
</body>

</html>