@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --font: 'Roboto', sans-serif;
    --label: 1.4rem;
    --conteudo: 1.1rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

#navbar {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    z-index: 1;
}

#navbar>ul {
    display: flex;
    list-style: none;
}

#navbar>ul>li>a {
    text-decoration: none;
    margin: 0 20px 0 20px;
    color: #3498db;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

header > #bannerPrincipal{
    background-image: url('/img/banner.png');
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header > #bannerPrincipal > #tituloBanner{
    font-size: 2.5rem;
    font-weight: bold;
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
}

header > #bannerPrincipal > #textoBanner{
    font-size: 1rem;
    background-color: white;
    padding: 5px 10px;
}


#login {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

#principalPosts{
    display: flex;
    padding: 15px 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
    top: -70px
}

#principalPosts > .postP {
    width: 300px;
    height: 250px; /* Ajuste a altura conforme necessário para incluir espaço para o texto */
    position: relative;
    border-radius: 10px; /* Adicione bordas arredondadas para um visual mais suave */
    overflow: hidden;
}

#principalPosts > .postP > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#principalPosts > .postP > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5); /* Cor do fundo com opacidade */
    padding: 10px; /* Espaçamento interno para o texto */
    box-sizing: border-box;
    color: white;
}

#principalPosts > .postP > .overlay h3 {
    margin: 0;
    font-size: 18px;
}

#principalPosts > .postP > .overlay p {
    margin: 5px 0;
    font-size: 14px;
}
#postsAntigos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 850px;
    margin: 0 auto;
}

#postsAntigos > .postA{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
}
#postsAntigos > .postA > .imgPost{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    overflow: hidden;
}

#postsAntigos > .postA > .imgPost > img{
    width: 100%;
    height: 100%;
}

#postsAntigos > .postA > p{
    width: 50%;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label,
textarea,
select,
button {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    font-size: var(--label);
}

textarea {
    height: 100px;
    resize: vertical;
    padding: 8px;
    border: 1px solid #ddd;
    /* Adicionando uma borda para suavizar o visual */
    border-radius: 4px;
    transition: border-color 0.3s ease;
    /* Adicionando transição para suavizar a mudança de cor da borda */
    resize: none;
    width: 100%;
    font-size: var(--conteudo);
    margin-top: 10px;
}

textarea:focus {
    border-color: #4CAF50;
    /* Mudando a cor da borda quando o textarea está em foco */
}


#camposAdicionais {
    margin-bottom: 20px;
}


#deleteCampo {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
}

#deleteCampo:hover {
    background-color: #c82333;
}

.error-container,
.success-container {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}

.error-container {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.success-container {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.campoAdd {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.campoAdd>label {
    align-self: self-start;
}

.campoAdd>input[type="file"] {
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.campoAdd>.contentPreview {
    width: 200px;
    height: 200px;
}

.campoAdd>.contentPreview>.preview {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#preview {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

#preview:hover {
    background-color: #b33a2c;
}

#enviar {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

#enviar:hover {
    background-color: #26a65b;
}

.add {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add:hover {
    background-color: #2d82ba;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

select:hover {
    border-color: #999;
}

#titulo {
    margin-bottom: 5px;
}

#sub {
    margin-bottom: 5px;
}

.msg {
    color: red;
    font-size: 0.9rem;
}


#contentPost{
    max-width: 800px;
    margin: 30px auto;
}

#contentPost > .conteudo{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

#contentPost > .containerImgPost{
    width: 500px;
    height: 500px;
    overflow: hidden
}

#contentPost > .containerImgPost > img{
    max-width: 100%;
    max-height: 100%;
}

footer {
    min-width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}